.weather-hours {
  &-item {
    width: 68px;
    height: 110px;
    border: 1px solid #e4e4ee;
    border-radius: 8px 30px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    margin-right: 20px;
    &-time {
      font-size: 8px;
    }
    &-temp {
      font-size: 12px;
    }
    &-icon {
      width: 30px;
    }
  }
}
.weather-hours-item.current {
  .weather-hours-item {
    &-time,
    &-temp {
      color: white;
    }
  }
  &.color-1,&.color-2,&.color-3{
    box-shadow: none;
  }
}
