<!-- box button toggle -->
<div class="box-btn">
  <i class="bx bx-menu-alt-left" (click)="handleClick()"></i>
</div>
<!-- box city name -->
<div class="city">
  <p class="city-now">Today</p>
  <p class="city-name">{{current.name}}</p>
  <p class="city-time">{{current.time*1000 |date:'d/M/yy'}}</p>
</div>

<div class="weather">
  <div class="weather-current">
    <div class="current-icon">
      <img [src]="current.icon |icon3d" alt="" class="current-img" />
    </div>

    <div class="current-divice"></div>
    <div class="current-info flex-center">
      <span class="current-temp">{{current.temp}}°</span>
      <span class="current-status">{{current.description |uppercase}}</span>
    </div>
  </div>
  <div class="weather-more">
    <div class="weather-more-item">
      <div class="weather-more-item-icon flex-center">
        <img [src]="wind" alt="" class="current-img" />
      </div>
      <p class="weather-more-item-text">{{current.wind_speed}} m/s</p>
    </div>
    <div class="weather-more-item">
      <div class="weather-more-item-icon flex-center">
        <img [src]="cloud" alt="" class="current-img" />
      </div>
      <p class="weather-more-item-text">{{current.clouds}}</p>
    </div>
    <div class="weather-more-item">
      <div class="weather-more-item-icon flex-center">
        <img [src]="water_drop" alt="" class="current-img" />
      </div>
      <p class="weather-more-item-text">{{current.humidity}} %</p>
    </div>
  </div>
</div>
