.container {
  position: relative;
  overflow: hidden;
}
.box {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  transition: all 1s ease-in;
  background-color: #fff;
  max-width: 375px;
  overflow: hidden;
}
.box-btn {
  position: absolute;
  top: 10%;
  left: 0;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  transition: all .7s ease-in;
  z-index: -2;
  &-link {
    font-size: 18px;
    color: #171717;
  }
}
.box-blank {
  width: 100%;
  height: 100vh;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  z-index: -10;
  transition: all 1s ease-in;
  transform: rotate(0deg) translate(0px, 120px);
}
.show {
  border-radius: 20px;
  transform: rotate(13deg) translate(80px, 55px);
  box-shadow: -19px 2px 50px 11px rgba(103, 111, 188, 0.16);
}
.show1 {
  transform: rotate(5deg) translate(120px, 120px);
  box-shadow: -4px -4px 48px 0px rgba(103, 111, 188, 0.16);
}
.show3 {
  z-index: 5;
}
app-weather-comfort,
app-weather-sun {
  border-bottom: 1px solid #e4e4ee;
  padding-bottom: 15px;
}
