<div class="container">
  <div class="box-blank" [class.show1]="showPageAction"></div>
  <div class="box-btn" [class.show3]="showPageAction">
    <a routerLink="/" class="box-btn-link"
      ><i class="bx bx-plus"></i>
      <span>Add City</span>
    </a>
    <a href="#" class="box-btn-link"
      ><i class="bx bx-cog"></i>
      <span>Setting</span>
    </a>
    <a href="#" class="box-btn-link"
      ><i class="bx bx-map"></i>
      <span>Map</span>
    </a>
  </div>
  <div class="box" [class.show]="showPageAction">
    <app-weather-current
      (toggle)="toggleAction()"
      [current]="data.current.main"
    ></app-weather-current>
    <app-weather-today
      [hours]="data.hourly"
      [color]="data.current.main.color"
    ></app-weather-today>
    <app-weather-week
      [week]="data.daily"
      [color]="data.current.main.color"
    ></app-weather-week>
    <app-weather-comfort [comfort]="data.current.comfort"></app-weather-comfort>
    <app-weather-sun [sun]="data.current.sun"></app-weather-sun>
    <app-weather-wind
      [wind]="data.current.wind"
      [color]="data.current.main.color"
    ></app-weather-wind>
  </div>
</div>
