/* sun */
.sun {
  padding: 0 20px;
  &-text {
    margin-bottom: 30px;
  }
  &-box {
    position: relative;
  }
  &-time {
    position: absolute;
    top: calc(50%);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    &-line {
      width: 175px;
      height: 1px;
      background-color: #808080;
      margin: 0 20px;
    }
    & span {
      margin-top: -5px;
    }
  }
}
.sunrise ,.sunset{
  position: relative;
  width: 150px;
  margin: 0 auto;
  &-circle{
    height: 75px;
    overflow: hidden;
  }
  &-icon {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.sunset {
  z-index: 10;
  &-icon{
    top: 10%;
  }
  &-sun {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    transform-origin: top center;
    transform: rotate(0deg);
    & img {
      position: relative;
      width: 23px;
      height: 23px;
      left: -11.5px;
      top: -11.5px;
    }
  }
}
