<div class="wind">
  <p class="wind-text">Wind</p>
  <div class="wind-icon">
    <img [src]="WIND" alt="" />
  </div>
  <div class="wind-status flex-center">
    <div class="wind-status-item">
      <span class="wind-status-item-name fz-small">Feels Like</span>
      <span class="fz-small">10°</span>
    </div>
    <div class="wind-status-devide"></div>
    <div class="wind-status-item">
      <span class="wind-status-item-name fz-small">UV Index</span>
      <span class="fz-small">10°</span>
    </div>
  </div>
</div>
